<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title><%= title %></title>
</head>
<body>
    <% if(users.length >= 0){ %>
        <h2>Succes!</h2>
    <% } %>
    <% users.forEach(user => { %>
        <div class="user-container">
            <p>User:</p>
        <h3>First name:<%= user.firstName%></h3>
        <h3>Last name:<%= user.lastName%></h3>    
        </div>
    <% }) %>
</body>
</html>