<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Register a user example</h1>
    <p>And save the user to database</p>

    <form action="/register" method="POST">
        <fieldset>
            <legend>Register a user</legend>
            <label for="nickName">First name:</label>
            <input type="text" name="firstName" id="firstName" />
    
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            
          </fieldset>
    
          <button type="submit">Make new user</button>
    </form>
</body>
</html>